:root   {
    --grafite: #1E1E1E; /*cor de fundo*/
    --back-in-black: #101010; /*cor do header*/

    --smooth-blue: #E6EDEE; /*cor da fonte*/

    --chad-green: linear-gradient(90deg, #131616 0%, #C1FFB7 35.94%, #F4F4F4 48.96%, #C1FFB7 61.98%, #131616 100%); /*linha gradiente*/
}