html {
    font-family: 'DM Sans', sans-serif;
    color: var(--smooth-blue);
}

h1  {
    font-weight: 600;
    font-size: 2,875rem;
    font-family: 'Rubik', sans-serif;
}

h2  {
    font-weight: 600;
    font-size: 1,5rem;
    font-family: 'Rubik', sans-serif;
}

strong  {
    font-weight: 600;
    font-size: 1rem;
    font-family: 'Rubik', sans-serif;
}

header {
    background: var(--back-in-black);
    display: flex;
    justify-content: space-between;
    padding-inline: 1.5rem;
    padding-block: 1rem;

}

header, figure {
    display: flex;
    align-items: center;
}

ul, li {
    padding-inline: 0.5rem;
    display: flex;
    flex-direction: row;
    list-style: none;
    color: var(--smooth-blue);
}

header figure h1    {
    padding-inline: 1rem;
}

main {
    background: var(--grafite);
}

footer p {
    color: var(--link);
}

footer {
    background: var(--back-in-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}