html {
    font-family: 'DM Sans', sans-serif;
    color: var(--smooth-blue);
    background-color: var(--grafite);
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}

p, span {
    font-weight: 400;
    letter-spacing: 0.15rem;
    text-align: justify;
}

a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 0.15rem;
}

h1 {
    font-weight: 600;
    letter-spacing: 0.15rem;
    font-size: 2.5rem;
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-weight: 600;
    letter-spacing: 0.15rem;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 1rem
}

strong {
    font-weight: 600;
    letter-spacing: 0.15rem;
    font-size: 0.8rem;
    font-family: 'Rubik', sans-serif;
    display: block;
    margin-bottom: 1rem;
}

header {
    width: 100%;
    background: var(--back-in-black);
    display: flex;
    justify-content: space-between;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    position: sticky;
    top: 0;
}

header, figure {
    display: flex;
    align-items: center;
}

ul, li {
    padding-inline: 0.5rem;
    display: flex;
    flex-direction: row;
    list-style: none;
    color: var(--smooth-blue);
}

header figure h1 {
    padding-inline: 1rem;
    font-size: 2rem;
}

figure {
}

img {
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
}

main h1 {
    display: flex;
    justify-content: center;
    margin: 5rem;
}

main p {
    margin-bottom: 1rem;
}

iframe  {
    display: flex;
    justify-content: center;
    width: 100%; 
    height: auto;
    padding-inline: 15rem;
    padding-bottom: 13rem;
}

footer p {
    color: var(--link);
    font-weight: bold;
}

footer {
    background: var(--back-in-black);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

hr {
    height: 1px;
    background: var(--green-gloo);
    border: none;
}