html {
    font-family: 'DM Sans', sans-serif;
    color: var(--smooth-blue);
    background-color: var(--grafite);
    scroll-behavior: smooth;
    scroll-padding: 10rem;
    font-size: 62.5%;
}

.mobile{
    display: none;
}

section {
    margin-block: 6.2rem;
}

p, .flex-auxiliar > span {
    font-weight: 400;
    letter-spacing: 0.15rem;
    font-size: 1.6rem;
}

.flex-auxiliar{
    display: flex;
    width: auto;
    height: -webkit-fill-available;
    flex-direction: column;
    justify-content: space-between;
}

p {
    text-align: justify;
    font-size: 1.6rem;
}

.flex-auxiliar > span, figure > p {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 0.15rem;
    font-size: 1.6rem;
}



h1, h1 > span{
    display: block ;
    font-weight: 600;
    letter-spacing: 0.15rem;
    font-size: 4.6rem;
    font-family: 'Rubik', sans-serif;
}


h2 {
    font-weight: 600;
    letter-spacing: 0.15rem;
    font-size: 2.4rem;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 1rem
}

strong {
    font-weight: 600;
    letter-spacing: 0.15rem;
    font-size: 1.6rem;
    font-family: 'Rubik', sans-serif;
    display: block;
    margin-bottom: 1rem;
}

header {
    width: 100%;
    background: var(--back-in-black);
    display: flex;
    justify-content: space-between;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    position: sticky;
    top: 0;
}

header, figure {
    display: flex;
    align-items: center;
}

#btn-mobile {
    display: none;
}

button {
    border: none;
    outline: none;
    background: none;
}

button > img{
    border-radius: 0;
    width: 3rem;
}

ul, li {
    padding-inline: 1.0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    color: var(--smooth-blue);
}

header figure h1 {
    padding-inline: 1rem;
    font-size: 3.6rem;
}

img {
    border-radius: 1rem;
    width: 100%;
    height: auto;
}

main h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

main p {
    margin-bottom: 1rem;
}

iframe  {
    width: 100%;
    height: 88vh;
}

footer p {
    color: var(--link);
    font-weight: bold;
}

footer {
    background: var(--back-in-black);
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

footer hr {
	background: none;;
    border-top: 2px dashed gray;
    margin-bottom: 1rem;
}

hr {
    height: 0.12vh;
    background: var(--green-gloo);
    border: none;
}