.img-header {
    width: 60px;
    height: 60px;
}

.first-section__box  {
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 10rem;
}

.first-section__content {
    margin-left: 2.5rem;
}

.second-section__box  {
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 10rem;
}

.second-section__content1   {
    margin-right: 1rem;
}

.third-section  {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 8rem;
    padding-bottom: 6rem;

    
    flex-wrap: wrap;
    justify-content: space-around;
}

.third-section figure   {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

.third-section figure img   {
    margin-bottom: 1rem;
}

.third-section__first-line  {
    display: flex;
}

.third-section__second-line  {
    display: flex;
}

.fourth-section  {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding-inline: 8rem;
    padding-bottom: 6rem;
}

.fourth-section__first-box  {
    margin-right: 1.5rem;
}

.fifth-section  {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 8rem;
    padding-bottom: 6rem;
    justify-content: space-around;
}

.fifth-section figure   {
    display: flex;
    flex-direction: column; 
}

.sixth-section  {
    width: auto;
    height: max-content;
}

.footer-content {
    margin: 3rem;
}