.img-header {
    width: 3.75rem;
    height: 3.75rem;
}

.first-section__box {
    align-items: flex-start;
    display: flex;
    padding-inline: 10rem;
}

.first-section__content {
    margin-left: 2.5rem;
}

.second-section__box {
    display: flex;
    justify-items: auto;
    padding-inline: 10rem;
    align-items: baseline;
}

.second-section__content, .second-section__content2 {
    flex: 1;
}
.second-section__content2 {
    margin-inline-start: 1rem;
}

.third-section__box {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-inline: 8.5rem;
}

.third-section__box figure {
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 1.5rem;
}

.third-section__box img {
    width: 17vw;
    height: 17vw;
    margin-bottom: 1rem;
}

.third-section__first-line {
    display: flex;
}

.third-section__second-line {
    display: flex;
}

.fourth-section__box {
    align-items: flex-start;
    display: flex;
    padding-inline: 10rem;
}

.fourth-section__first-box {
    margin-right: 1rem;
}

.fifth-section__box {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-inline: 8.5rem;
}

.fifth-section__box figure {
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.fifth-section__content {
    display: flex;
}

.fifth-section__box img {
    border-radius: 100%;
    margin-bottom: 1rem;
}

.footer-content {
    margin: 3rem;
}

.sixth-section__box {
    align-items: flex-start;
    display: flex;
    padding-inline: 10rem;
}