.img-header {
    width: 60px;
    height: 60px;
}

.first-section  {
    display: flex;
    margin-inline: 12.5rem;
    width: 1133px;
    height: 320px;
    left: 157px;
    top: 221px;
}

.first-section__content {
    display: flex;
    flex-direction: column;
    margin: 2.5rem;
}


.decoration {
    display: flex;
    align-items: center;
    width: 1348px;
    height: 1px;
    margin-block: 5rem;
    background: linear-gradient(90deg, #131616 0%, #C1FFB7 35.94%, #F4F4F4 48.96%, #C1FFB7 61.98%, #131616 100%);
}