@media (max-width: 768px){
    header figure h1 {
        font-size: 2.4rem;
    }

    h1, h1 > span{
        font-size: 3.4rem;
    }

    main h1 {
        margin-bottom: 3.0rem;
    }

    h2 {
        font-size: 2.0rem;
    }

    strong {
        font-size: 1.8rem;
    }

    section {
        margin-block: 3.8rem;
    }
    
    p{
        font-size: 1.4rem;
    }

    .flexauxiliar > span{
        flex: auto;
    }
    .desktop{
        display: none;
    }

    .mobile {
        display: flex;
    }

    #btn-mobile {
        display: block;
    }

    ul {
        display: block;
        position: absolute;
        width: auto;
        top: 6.991rem;
        right: 0px;
        background: var(--back-in-black);
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: auto;
    }

    #nav.active #menu {
        height: calc(30vh - 6.991rem);
        visibility: visible;
        width: auto;
    }

    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid var(--smooth-blue, 0.5);
        font-size: 1.4rem;
    }

    .first-section__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-inline: 3rem;
    }
    
    .first-section__content {
        margin-top: 2.5rem;
        margin-left: 0;
    }
    .second-section{
        display: flex;
    }

    .second-section__box {
        display: flex;
        flex-direction: column;
        padding-inline: 3rem;
    }
    
    .second-section__content, .second-section__content2 {
        margin-block-end: 2.5rem;
        margin-right: 0;
    }
    
    .second-section__content2   {
        margin-inline-start: 0rem
    }

    .third-section__box {
        justify-content: flex-start;
        display: flex;
        overflow-x: scroll;
        flex-wrap: nowrap;
        padding-inline: 3rem;
    }
    
    .third-section__box figure {
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        width: auto;
    }

    .third-section__box img {
        width: 30vw;
        height: 30vw;
    }

    .fourth-section__box {
        display: flex;
        flex-direction: column;
        padding-inline: 3rem;
    }
    
    .fourth-section__first-box {
        margin-right: 0rem;
        margin-block-end: 2.5rem;
    }
    
    .fifth-section__box {
        justify-content: flex-start;
        display: flex;
        overflow-x: scroll;
        flex-wrap: nowrap;
        padding-inline: 3rem;
    }
    
    .fifth-section__box figure {
        flex-direction: column;
        align-items: center;
        margin-inline: 0;
        width: 100%;
    }
    
    .fifth-section__box img {
        width: 30vw;
        margin-bottom: 1rem;
    }
    
    .footer-content {
        margin: 3rem;
    }
    
    .sixth-section__box {
        align-items: flex-start;
        display: flex;
        padding-inline: 5rem;
    }

    iframe  {
        width: 100%;
        height: auto;
    }
}
